#navigation-container li {
  display: inline-block;
}

header {
  padding: 18.5px 70px 18.5px 1900px;
}

.globe-icon {
  border: none;
  background-color: #f5f2eb;
}

.signup-button-nav {
  border: none;
  font-size: 16px;
  background-color: #f5f2eb;
}

.request-demo-btn {
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  background-color: #aed6b3;
  color: black;
  font-size: 16px;
}

body {
  background-color: #f5f2eb;
  font-family: "Inter", sans-serif;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-16 {
  font-size: 16px;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: 700;
}

.form-title {
  text-align: center;
}

.form-subtitle {
  color: #f5f2eb;
  text-align: center;
  margin-bottom: 20px;
}

button {
  font-family: inherit;
}

.landing-page {
  display: inline-block;
  vertical-align: middle;
}

#signin-container {
  width: 376px;
  height: 524px;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 58px 52px 66px 52px;
}

img {
  width: 600px;
  height: 600px;
}

.input-field {
  display: block;
  text-align: center;
  margin: 10px 0 10px 0;
}

label, input {
  display: block;
}

#sign-in-btn-form {
  background-color: #aed6b3;
  color: #ffffff;
  font-size: 16px;
  width: 375px;
  height: 43px;
  padding: 12px 18px;
  border-radius: 4px;
}

.social-media-btn {
  border-radius: 40px;
  padding: 16px 30px;
  margin-bottom: 50px;
  color: #000000;
  background-color: #ffffff;
}

p {
  text-align: center;
}

#register-now {
  text-align: center;
}
